body {

  background-color: #070D0D;

}

h1 {
  width: 100%;
  padding-left: 70%;
  font: 300 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

}

h2 {

  padding-left: 5%;
  font: 300 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #bbb; 

}

h3 {

  padding-left: 5%;
  font: 300 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;

}

.element {

  display: inline-block;
  width: 50%;
  height: 800px;

}

.container {

  display: flex;
  width: 100%;

}

  .box {
    width: 50%;
    height: 200px;
    background-color: #f0f0f0;
  }


  .node {
      font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
      fill: #bbb;
    }
    
    .node:hover {
      fill: #C34271;
    }
    
    .link {
      stroke: #4E4E50;
      stroke-opacity: 0.4;
      fill: none;
      pointer-events: none;
    }
    
    .node:hover,
    .node--source,
    .node--target {
      font-weight: 700;
    }
    
    .node--source {
      fill: #16FFBD;
    }
  
    .node--target {
      fill: #16FFBD;
    }
    
    .link--source,
    .link--target {
      stroke-opacity: 1;
      stroke-width: 2px;
    }
    
    .link--source {
      stroke: #16FFBD;
    }
    
    .link--target {
      stroke: #16FFBD;
    }

    .myYaxis path{

      stroke: #bbb; 

    }

    .myYaxis line{

      stroke: #bbb; 

    }

    .myYaxis text{

      fill: #bbb; 

    }

    .myXaxis path{

      stroke: #bbb; 

    }

    .myXaxis line{

      stroke: #bbb; 

    }

    .myXaxis text{

      fill: #bbb; 

    }




    #detailViewContainer {

      margin-top: 4%;
      position: fixed; 
      right: 0;
      margin-right: 1%;
      height: 800px;
      width: 40%;
      border-radius: 25px;
      border-style: solid; 
      background-color: #1A1A1D;

    }; 

    #edgeBundlingContainer {

      margin-top: 4%;
      position: fixed; 
      left:0;
      height: 800px;
      width: 50%;
      background-color: red; 

    }; 
    
    