body {
  background-color: #101a1a;
  margin: 0; /* Reset default margin */
}

h1 {
  text-align: left;
  margin-left: 60px;
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  color: #b5b5b5;
  z-index: 9999;

}

h2 {

  font-family: 'Inconsolata', monospace;
  font-size: 26px;
  font-weight: bold;
  color: #DDDDDD; 

}

h3 {

  font: 300 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;

}

p {

  font: 300 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #DDDDDD;

}
  .node {
      font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
      fill: #9d9d9d;
    }
    
    .node:hover {
      fill: #AAAA00;
    }
    
    .link {
      stroke: #4E4E50;
      stroke-opacity: 0.4;
      fill: none;
      pointer-events: none;
    }
    
    .node:hover,
    .node--source,
    .node--target {
      font-weight: 700;
    }
    
    .node--source {
      fill: #DDDDDD;
      text-decoration: underline;
    }
  
    .node--target {
      fill: #DDDDDD;
      text-decoration: underline;
    }
    
    .link--source,
    .link--target {
      stroke-opacity: 0.7;
      stroke-width: 1px;
    }
    
    .link--source {
      stroke: #DDDDDD;
    }
    
    .link--target {
      stroke: #DDDDDD;
    }

    .myYaxis path{

      stroke: #bbb; 

    }

    .myYaxis line{

      stroke: #bbb; 

    }

    .myYaxis text{

      fill: #bbb; 

    }

    .myXaxis path{

      stroke: #bbb; 

    }

    .myXaxis line{

      stroke: #bbb; 

    }

    .myXaxis text{

      fill: #bbb; 

    }

    #background {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    #flex-container {

      display: flex;
      align-items: flex-start;
      padding: 20px;
    }

    #description {

      flex: 1; /* Let it take one-third of the space */
      margin-top: 0px;
      margin-left: 40px;
      padding-right: 20px;
      line-height: 2;
      color: #b5b5b5;
      font-family: 'Inconsolata', monospace;
      font-weight: regular;
    }

    #edgeBundlingContainer {
          flex: 2; /* Let it take two-thirds of the space */
    }

    #tooltip {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 10px;
      border-radius: 5px;

      border-left: 8px solid red;
      }

    .main-heading {
      font-size: 18px;
      margin: 0 0 10px 0;
    }
    
    .quadrant {
      width: 50%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
    }
    
    .heading {
      font-size: 16px;
      margin: 0;
    }
    
    .value {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
